<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{template.html :: head}"></head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" th:fragment = 'nav'>
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="d-block d-lg-none">Made by Nico</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/logoNico.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
            <a href="/admin" class="btn btn-success" role="button" aria-pressed="true">Regresar</a>
        </nav>  
        <div class="container-fluid p-0">
            
            <section class="resume-section" id="about">
                
                <div class="resume-section-content">
                    <h1>Clientes</h1>
<button class="btn btn-primary open-modal" data-bs-target="#ClienteModal"
            data-bs-toggle="modal" type="button" style="color: #fff; background-color: #0d6efd; border-color:#0d6efd ">
        <b>Nuevo Cliente</b>
    </button>
                    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contraseña</th>
                </tr>
                </thead>
            <tbody>
               <tr th:each="cliente : ${clientes}">
                    <td><span th:text="${cliente.id}"></span></td>
                    <td><span th:text="${cliente.nombre}"></span></td>
                    <td><span th:text="${cliente.apellido}"></span></td>
                    <td><span th:text="${cliente.email}"> </span></td>
                    <td><span th:text="${cliente.password}"> </span></td>
               <td>

                        <button class="btn btn-primary open-modal" data-bs-target="#ClienteModal" data-bs-toggle="modal"
                                th:attr="idCliente=${cliente.id}" type="button" style="background-color: #198754; border-color: #198754; padding: 10px 30px; color: #fff " >
                            <b>Editar</b>
                        </button>
               </td>
                    <td>
                        <button class="btn btn-danger open-modal btnDeleteEntity" th:attr="idCliente=${cliente.id}"
                                type="button"style="background-color: firebrick; border-color: firebrick; padding: 10px 30px; color: #fff " >
                            <b>Eliminar</b>
                        </button>
               </td> 
               </tr>
            </tbody>
            </table>
        </div>
    </div>

                </div>
            </section>

            <hr class="m-0" />
        <div th:insert="~{template.html :: scripts}"></div>
        <footer th:insert="~{template.html :: footer}"></footer>

        <script th:inline="javascript">
    /*<![CDATA[*/
    clientes = /*[[${clientes}]]*/ 'default';
    ClienteDefault = /*[[${ClienteDefault}]]*/ 'default';
    /*]]>*/
</script>
    
<script src="js/cliente.js"></script>
<script src="js/baseCRUD.js"></script>    
</body>
</html>


