<!DOCTYPE html>
<!-- Terminado -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{template.html :: head}"></head>
    <link th:href="@{/css/views/perfil.css}" rel="stylesheet">
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Made by Nico</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/logoNico.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
            <a href="/" class="btn btn-success" role="button" aria-pressed="true">[[#{botreg}]]</a>
        </nav>
        <!-- Page Content-->
<div class="container">
        <div class="row">
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Made by
                        <span class="text-primary">Nico</span>
                    </h1>
                    <p class="lead mb-5">[[#{perfil.desc}]]</p>

                </div>
            </section>
            <div class="container mt-5">
    
<aside class="profile-card">
  
  <header>
    
    <!-- here’s the avatar -->
    <a href="#">
      <img src="assets/img/logoNico.jpg">
    </a>

    <!-- the username -->
    <h1 sec:authentication="name">(Nombre usuario)</h1>
    <!-- <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fas fa-user"></i><span sec:authentication="name">/</span>
                    </a> -->
    
    <!-- and role or location -->
    <h2 sec:authentication="principal.username">(Username o correo)</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
      <!-- <p>Datos del usuario:</p>  -->
    
  </div>
  
  <!-- some social links to show off -->
  <ul class="profile-social-links">
    
    <!-- twitter - el clásico  -->
    <li>
      <a href="#">
        <img src="assets/img/icons8-email-30.png">
      </a>
    </li>
    
    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="#">
        <img src="assets/img/icons8-github-30.png">
      </a>
    </li>
    
    <!-- codepen - your codepen profile-->
    <li>
      <a href="#">
        <img src="assets/img/icons8-bookmark-30.png">
      </a>
    </li>
    
    <!-- add or remove social profiles as you see fit -->
    
  </ul>
  
</aside>
        </div>
    </div>
        <div th:insert="~{template.html :: scripts}"></div>  
    </body>

    <footer th:insert="~{template.html :: footer}"></footer>
</html>
