<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

      
    

    <head th:insert="~{template.html :: head}"></head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Made by Nico</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/logoNico.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
            <a href="/" class="btn btn-success" role="button" aria-pressed="true">[[#{botreg}]]</a>
        </nav>
        <div class="container-fluid p-0">
            <!-- About-->
            <div class="wrapper">

               <form method="POST" action="@{/crearUsuario}"  class="form-signin">
                    <h2 class="form-signin-heading">[[#{registro}]]</h2>
                    <input for="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre" required="" autofocus="" />
                    <br/>
                    <input for="apellidos" type="text" class="form-control" name="apellidos" placeholder="Apellido" required="" autofocus="" />
                    <br/>
                    <input for="correo" type="text" class="form-control" name="correo" placeholder="Dirección de Email" required="" autofocus="" />
                    <br/>
                    <input for="username" type="text" class="form-control" name="username" placeholder="Username" required=""/> 
                    <label class="checkbox">
                        <br/>
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">[[#{inises.record}]]</label>
                         <div  class="btn btn-success" >                                                
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-envelope"></i> [[#{registro.bot}]]
                                    </button>
                                </div>

                    <br/>
                    <a class="nav-link js-scroll-trigger" href="login.html">[[#{registro.inises}]]</a>
                </form>
            </div>
        </div>
        <div th:insert="~{template.html :: scripts}"></div>  
    </body>
    <footer th:insert="~{template.html :: footer}"></footer>
</html>