<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{template.html :: head}"></head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" th:fragment = 'nav'>
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="d-block d-lg-none">Made by Nico</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/logoNico.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
            <a href="/admin" class="btn btn-success" role="button" aria-pressed="true">Regresar</a>
        </nav>  
        <div class="container-fluid p-0">
            
            <section class="resume-section" id="about">
                
                <div class="resume-section-content">
                    <h1>Clientes</h1>
    
                    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>

                </tr>
                </thead>
            <tbody>
               <tr th:each="usuario : ${usuarios}">
                    <td><span th:text="${usuario.idUsuario}"></span></td>
                    <td><span th:text="${usuario.username}"></span></td>
                    <td><span th:text="${usuario.password}"></span></td>
                    <td><span th:text="${usuario.nombre}"> </span></td>
                    <td><span th:text="${usuario.correo}"> </span></td>

               <td>

                        <button class="btn btn-primary open-modal" data-bs-target="#UsuarioModal" data-bs-toggle="modal"
                                th:attr="idUsuario=${usuario.idUsuario}" type="button" style="background-color: #198754; border-color: #198754; padding: 10px 30px; color: #fff " >
                            <b>Editar</b>
                        </button>
               </td>
                    <td>
                        <button class="btn btn-danger open-modal btnDeleteEntity" th:attr="idUsuario=${usuario.idUsuario}"
                                type="button"style="background-color: firebrick; border-color: firebrick; padding: 10px 30px; color: #fff " >
                            <b>Eliminar</b>
                        </button>
               </td> 
               </tr>
            </tbody>
            </table>
        </div>
    </div>

                </div>
   </section>
<section class="container py-5">
    
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="UsuarioModal" role="dialog"
         tabindex="-1">        
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                    <button aria-label="Close" class="close" data-bs-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" id="formUsuario" method="post">
                        <div class="form-group d-none">
                            <label for="idUsuario">Id</label>
                            <input class="form-control" id="id" placeholder="id"
                                   type="number">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" id="username"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input class="form-control" id="password"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class="form-control" id="nombre" 
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input class="form-control" id="apellidos"
                                   type="text">
                        </div>
                         <div class="form-group">
                            <label for="correo">Email</label>
                            <input class="form-control" id="correo"
                                   type="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" style=" background-color: #b02a37; border-color:#b02a37 "><b>Cerrar</b></button>
                    <button class="btn btn-primary" data-bs-dismiss="modal" id="saveEntity" type="button" style="background-color: #c7dbd2; border-color:#c7dbd2; color: #000 "><b>Guardar</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
        <div th:insert="~{template.html :: scripts}"></div>
        <footer th:insert="~{template.html :: footer}"></footer>

        <script th:inline="javascript">
    /*<![CDATA[*/
    usuarios = /*[[${usuarios}]]*/ 'default';
    UsuarioDefault = /*[[${UsuarioDefault}]]*/ 'default';
    /*]]>*/
</script>
    
<script src="js/usuario.js"></script>
<script src="js/baseCRUD.js"></script>    
</body>
</html>



